body {
  font-family: var(--font-primary);
  color: var(--color-white);
  background-color: var(--color-dark);
  overflow-x: hidden;
}

main {
  background-color: var(--color-bg-light);
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: 40px;
}

@media (max-width: 1200px) {
  .container {
    padding-inline: 20px;
  }
}
